CONFIG = {
  'pythonpath': '{{ wsgi_pythonpath }}',
  'user': '{{ wsgi_run_as.user }}',
  'group': '{{ wsgi_run_as.group }}',
  'loglevel': '{{ wsgi_gunicorn_loglevel }}',
  'working_dir': '{{ wsgi_working_dir }}',
  'args': {
    '--bind=unix:{{ wsgi_sock_path }}',
    '--workers={{ wsgi_worker_count }}',
    '--timeout={{ wsgi_timeout_sec }}',
    '--access-logfile={{ wsgi_log.access }}',
    '--error-logfile={{ wsgi_log.error }}',
    '{{ wsgi_app_module }}',
  }
}
